::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(100,0,150); 
    background-color: rgb(180,0,200);
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(pink,violet, purple);
}
body{
    background:rgb(120, 0, 150);
    color: white;
    font: larger;
}
h1,h2,h3{
    font-family: algerian;
}